.git

.github
.next
.vscode
dump-prod
node_modules
scripts

.dockerignore
.env*
.gitignore
# .npmrc
.prettierrc.json
Dockerfile
eslint.config.mjs
next-env.d.ts
README.md
tailwind.config.*
npm-debug.log

*.md
